<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      
      <add key="app.icon" value="weixin.ico"/>
      <add key="app.title" value="微信服务"/>
      <add key="app.desc" value="微信服务"/>
      
      <add key="wx.host" value="localhost"/>
      <add key="wx.port" value="8088"/>
      <add key="wx.prefix" value="weixin"/>
      
      <!-- {"Name":"bayesian","Title":"天津贝叶斯科技有限公司","AppId":"wxbe695f1392c7fdf8","Token":"bayesian","Secret":"14e6eb47b4544ef5badfc64e47263775 ","AESKey":"VlOZCtqBlhWRbTZGCuwkYlUycvlVd9FgaCAqNuFQLuX"} -->
      <add key="weixin.bayesian" value="OxqBsNztllb8uS0EQdL0p+4VAz8ZTBn9kQR82dUNhb2AQ2gc9DWOja3C+IRAROmYjt+2GHdzL6jbHTwxmx3OTYpE0dNmY36I3PCleXCYngR1iVdzWz4UWFZyA4DAhA9kBhxQ29ushPSR9KT7Ep/KbnqZojGfy0oh3GUxNTIArW7NHarqzSNJdSb0qvvZalPpX16bV8PYfJ6fCWhn0tlPOPQ2jVRmsoJlawPxzVGVPdTJAd87PEdPPsFs5j9j7F8z8DfmjyH8kgq7fY2NTLup6ro8LwxsCsCT"/>
      <!-- {"Name":"demo","Title":"测试号","AppId":"wx06766a90ab72960e","Token":"demo","Secret":"05bd8b6064a9941b72ee44d5b3bfdb6a","AESKey":null} -->
      <add key="weixin.demo" value="OxqBsNztllYgbvBAg2uj5TBa2eM+nJ+DhzinjoCquWUHbLT9TKFDbG0O7GFltZqt3rAoctjjSCa+W7yKxNxBP+/30yN0UEcIqnMIML8LBf7Xd8zzU+enlYGS3EDRq+22gNooFSiCOjBkb9Ye1kCVKaGQO0nMC+4CRiQq4bW4EyMZoDp5SqsVhYT4vW7CvC9W"/>
    
    </appSettings>
</configuration>